### macOS.gitignore
*.DS_Store

### tecplot.gitignore
#datafiles
*.plt
*.plt.gz
*.png
*.mp4

### swmf.gitignore

### python.gitignore
*__pycache__

### vim.gitignore
*.swp

###Specific stuff
*large*
*example*
*toy*
*trial*
*copy*
*demo*
*note*
*local*
*test*
*temp*
*mock*
*scratch*
*old*
